@import url("https://fonts.googleapis.com/css2?family=Poiret+One&display=swap");

.bgcolor-main {
  background-color: teal;
}

.fontstyle-title {
  font-family: "Poiret One", cursive;
}

.fontsize-lg {
  font-size: x-large;
}

.fontcolor-main {
  color: teal;
}

.bgimage-home {
  background: url("./assets/images/shona-emerald.jpg") no-repeat center center;
  -webkit-background-size: auto auto;
  -moz-background-size: auto auto;
  -o-background-size: auto auto;
  background-size: auto auto;
}
